body,div,section,footer,h1,ul,li,input,span,a{
    margin:0;
    padding:0;
}
section{
    width: 700px;
    height: 500px;
    background: #eeeeee;
}
h1{
    text-align: center;
    font-size: 100px;
    font-weight:500;
    color: #ff2222;
    opacity: 0.1;
}
input::-webkit-input-placeholder {
    color: #dddddd;
    font-size: 24px;
    font-style: italic;
}
input,.todolist li{
    width: 600px;
    height: 64px;
    font-size: 24px;
    position: relative;
    left: 7%;
    text-indent: 40px;
}
input{
    border:1px #dddddd solid;
    box-shadow:0 10px 30px 8px #dddddd;
    outline:none;
}

.todolist li,footer{
    background: white;
    border-left:1px #dddddd solid;
    border-right:1px #dddddd solid;
    border-bottom:1px #dddddd solid;
    list-style:none;
    line-height: 64px;
}
.close{
    width:20px;
    height:20px;
    color:#ce0000;
    opacity: 0.3;
    position:relative;
    left:490px;
}
.close::before{
    content:"\2716";
}

footer{
    width: 600px;
    height: 58px;
    margin-left: 49px;
    font-size: 15px;
    display: none;
}
span{
    /*float: left;*/
    width: 110px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    color: #8f949a;
    margin-left:6px;
}
strong{
    margin: 5px;
    font-weight: 500;
}
#status{
    /*width: 240px;*/
    height: 58px;
    /*float: left;*/
    /*background: #223322;*/
    margin-left: 80px;
    display: inline-block;
}
#status li{
    width: 80px;
    height: 58px;
    /*float: left;*/
    list-style-type: none;
    line-height:58px;
    text-align: left;
    display: inline-block;

}
#status a{
    text-decoration: none;
    color: #8f949a;
    padding:3px;
}
#all{
    border:1px #dddddd solid;
}
button{
    width: 120px;
    height: 58px;
    background:#fff;
    color: #8f949a;
    border:none;
    font-size: 14px;
    margin-left: 50px;
    outline:none;
    cursor: pointer;
    display: none;
}